/*************************global styles***************************/
html {
    background-color: #d3d3d3;
}
body {
    color: blue;
    font-family: arial;
    width: 800px;
    margin: auto;
}
em {
    font-family: 'Bungee Shade', cursive;
    font-size: 2rem;
    font-style: normal;
}
h1 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
}
h3 {
    text-align: right;
    margin: 0 2rem 2rem 0;
    font-weight: normal;
}
h4 {
    font-style: italic;
    text-align: right;
}
h5 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5rem;
}
/********************structural styling*************************/
.five-day-forecast {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.forecast {
    flex: 1 1 35%;
    padding: 1rem;
    margin: 1rem 0;
    max-width: 35%;
    text-align: center;
    border: solid blue 2px;
}
.todays-forecast {
    text-align: center;
    margin: auto;
    width: 710px;
    border: solid blue 2px;
}

/*************************gradiant classes*******************/

.forties {
    background: rgb(195,234,242);
    background: linear-gradient(180deg, rgba(195,234,242,1) 0%, rgba(211,211,211,0) 60%, rgba(255,101,0,1) 100%);
}
.fifties {
    background: rgb(195,234,242);
    background: linear-gradient(180deg, rgba(195,234,242,1) 0%, rgba(211,211,211,0) 50%, rgba(255,101,0,1) 100%);
}
.sixties {
    background: rgb(195,234,242);
    background: linear-gradient(180deg, rgba(195,234,242,1) 0%, rgba(211,211,211,0) 40%, rgba(255,101,0,1) 100%);

}
.seventies {
    background: rgb(195,234,242);
    background: linear-gradient(180deg, rgba(195,234,242,1) 0%, rgba(211,211,211,0) 30%, rgba(255,101,0,1) 100%);
}
.eighties {
    background: rgb(195,234,242);
    background: linear-gradient(180deg, rgba(195,234,242,1) 0%, rgba(211,211,211,0) 20%, rgba(255,101,0,1) 100%);
}
.nineties {
    background: rgb(195,234,242);
    background: linear-gradient(180deg, rgba(195,234,242,1) 0%, rgba(211,211,211,0) 10%, rgba(255,101,0,1) 100%);
}
.too-cold {
    background: rgb(195,234,242);
    background: linear-gradient(180deg, rgba(195,234,242,1) 0%, rgba(211,211,211,0) 100%, rgba(255,101,0,1) 100%);
}